*{
    font-family: 'Thasadith', sans-serif;
}

p{
    color: black;
}

h2{
    text-align: center;
    margin-top: 80px;
}
.layout{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    border: 2px solid navy;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 30px;
}

input, textarea {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 320px;
}

button {
    display: inline-block;
    border-color: navy;
    background-color: transparent;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}