.info {
    display: inline-block;
    border: 2px solid navy;
    width: 350px;
    text-align: center;
    padding: 30px;
}

input, textarea {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 320px;
}

button {
    display: block;
}