<div class=" mainLayout">
  <h1>Welcome! {{auth.user?.email}}</h1>
  <p> You are {{auth.isLoggedIn ? '':' not' }} logged in </p>
  
  <button type="submit" (click)= "logout()">Logout</button>
  <div class="flex">
  <!-- <div class="input"> -->
    <div class="info">
      <form #reflectionForm="ngForm" (ngSubmit)="upload(reflectionForm.value)">
        
        <label>Date</label>
        <input
        ngModel
        name="date"
        required
        type="date"
        placeholder="Date">
        
        <label>Session Title</label>
        <input
        ngModel
        name="title"
        required
        type="text"
        placeholder="Enter title">
        
        <label>Reflections</label>
        <textarea
        ngModel
        name="reflection"
        required
        type="text"
        ></textarea>
        
        <label>Rating</label>
        <input 
        ngModel
        minlength="0"
        maxlength="5"
        name="rating"
        type="number"
        placeholder="rating">
        
        <button type="submit">Submit</button>
        
        
      </form>
    </div>
    <div class="history-session">
      <div *ngFor = "let session of sessions | async">
    
    
    <div class="eachSession">
    <button (click)= "delete(session)"><i class="fas fa-times"></i></button>
<!--     
    <label>Revised</label> -->
    <input type="checkbox" [(ngModel)]="session.isRevised" (change)="update(session)">
    <p> {{ session.date}}</p>
    <p> {{ session.title }} </p>
    <p> {{ session.reflection }} </p>
    <p> {{ session.rating }} </p>
    
    </div>
    
    <!-- </div> -->
    </div>
  </div>
</div>
</div>

